.header-top-first {
    background: #E12026;
    height: 10px;
    width: '100%';
}
.text{
    color: #3a3a3a;
}
.phone{
    color: #3a3a3a;
}
.icon{
    color: #3a3a3a;
}
.header-sub-text{
    color:#3a3a3a;
}